<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187209030519-t7g9o63oqtkc1eht0q4h463fnuh3qatt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187209030519-t7g9o63oqtkc1eht0q4h463fnuh3qatt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187209030519-dqitofartdltdlp47hud27jl4or9cj20.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkNyfaiYEwZq9VRapfNpiXlSDJnuXq7Tg</string>
	<key>GCM_SENDER_ID</key>
	<string>187209030519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rs.RentALL</string>
	<key>PROJECT_ID</key>
	<string>rentall-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>rentall-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187209030519:ios:f9a4f918a6b409f0</string>
	<key>DATABASE_URL</key>
	<string>https://rentall-mobile.firebaseio.com</string>
</dict>
</plist>